@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  display: flex;
  justify-content: center;
}

.div {
  align-self: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(32, 32, 32);
  color: antiquewhite;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

input {
  padding: 5px;
  background-color: rgb(75, 73, 73);
  border: 1px solid rgba(245, 245, 245, 0.667);
  border-radius: 0.2em;
  color: antiquewhite;
}

#title1 {
  font-size: 1.1em;
  font-weight: 500;
}

#author1 {
  font-size: 0.8em;
}

.bookshelfDiv {
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formDiv {
  width: 100%;
  border: 1px solid white;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 40px;
}

.bookCardsDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 20px;
}

.bookCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid white;
  padding: 5px;
  width: 40%;
  margin: 15px 10px;
  word-wrap: break-word;
  background-color: rgb(155, 155, 155);
  color: black;
}

.button {
  border-radius: 0.5em;
  background-color: rgb(125, 54, 149);
  color: beige;
  padding: 5px;
  margin-top: 10px;
  width: 100%;
}
